.counter {
    border-radius: 50%;
    background-color: blue;
    width: 14%;
    color: white;
}

.mycounter {
    background-color: #0076ff;
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    border-radius: 50%;
  }